system/system/apex/com.android.vndk.current.apex
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/priv-app/LiveStickers/LiveStickers.apk
system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
product/priv-app/Velvet/Velvet.apk
